  {{#each comentarios}}
  <h3>{{usuario}}</h1>
  <p>{{coment}} - {{puntaje}}</p>
{{#if "esadmin"}}
        <button class="borrar btn btn-dark" data="{{id_comentario}}">BORRAR</button></li>
{{/if}}
  {{/each}}
